<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>최신 신조어 백과사전, 어쩔사전! 어쩔사전</title>
        <!-- Favicon-->
        <link rel="icon" href="./../Src/img/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a href="#!"><img src="./../Src/img/main_button.png"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-lg-2">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="C:/Users/Administrator/Desktop/sparta/Sparta_SWcamp_team6-main/templates/contents.html">신조어 목록</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">어쩔상점</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-home py-5">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-start text-white">
                    <h4 class="display-6 fw-bolder">‍오늘도 MZ말을 못 알아들었다😂<br>최신 신조어 백과사전, 어쩔사전!</h4>
                    <h6 style="line-height: 1.5em">신조어(新造語, Neologism)란? <br> 새로 만들어진 단어 및 용어 가운데 표준어로 등재되지 않은 말</h6></p>
                </div>

                <div class="d-flex justify-content-center h-100">
                  <div class="searchbar shadow bg-body-tertiary rounded">
                    <input class="search_input" type="text" name="" placeholder="찾고 싶은 신조어를 검색해 보세요!">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                  </div>
                </div>

            </div>
        </header>


        <div class="container px-4 px-lg-5 mb-5" style="margin-top: 50px">
            <div class=" headline-banner" role="button" tabindex="0"
                 data-attribute-id="typeTest__enter__click" data-page-path="/" onclick="window.open('https://doda.app/quiz/fsypHzyMWe')">
              <div class="headline-banner-row">
                  신조어 어디까지 알아? <img src="https://em-content.zobj.net/source/microsoft-teams/337/smiling-face-with-sunglasses_1f60e.png" width="30" height="30"/>
              <div class="headline-banner-row2 text-white-50">신조어 TEST 바로가기 > </div>


              </div>
        </div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-4">
                <h5 style="margin-bottom: 1.4rem">당신이 모르는 신조어 <span id="temp" style="font-weight: bold">12,390</span>건 등록 😎</h5>

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="margin-bottom: 20px">
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <!-- Product details-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TODAY</div>
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <!-- Product details-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TODAY</div>
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <!-- Product details-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TODAY</div>
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card-wrap h-100 shadow">
                            <div class="card-body p-4">

                                <div class="text-center text-white">
                                    <h5 class="fw-bolder">짜짜박박</h5>
                                    <!-- NEW badge-->

                                </div>
                            </div>

                            <!-- Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="more d-grid gap-4 col-4 mx-auto" style="margin-bottom: 100px; padding-top: 10px;">
                  <button type="button" class="btn btn-primary btn-lg"
                          onclick="window.open('./../templates/list.html')">더보기
                  </button>
                </div>


            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; sparta A-6 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
