<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>어쩔사전</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet"/>

    <style>

        .NewWordCard_listpage {
            padding: 0px 5% 5% 5%;
        }

        .button_container {
            padding: 0% 5% 3% 0%;
        }

        .card-container {
            display: flex;
        }

        .card {
            padding: 10px 10px 10px 10px;
            margin: 10px 10px 10px 10px
        }

        .card-title {
            font-size: xx-large;
            font-weight: bolder;
            padding: 10px 10px 10px 0px;
        }

        .chain_icon {
            width: 20px;

            float: right;
        }

        .card-text {
            font-size: x-large;
            line-height: 1.1em;

            padding-bottom: 10px;
        }


        .in-card-button {
            float: right;
        }

        .img-container {
            max-width: 100%;
            height: 180px;
            object-fit: cover;
            align-content: center;
        }

        .desc-container {
            line-height: 1.2;

        }


    </style>

    <script>
        $(document).ready(function () {
            list_filter();
        });

        function list_filter() {
            $.ajax({
                type: 'GET',
                url: '/read',
                data: {},
                success: function (response) {
                    let rows = response['words'];
                    for (let i = 0; i < rows.length; i++) {
                        let word = rows[i]['word'];
                        let img_url = rows[i]['img_url'];
                        let desc = rows[i]['desc_url'];
                        let age_tag = rows[i]['age_tag'];



                        let temp_html = `<div class="mb-4">
                                                    <div class="card2 shadow" style="width: 18rem; onclick="location.href='detail'">
                                                                    <img class="img-container" src="${img_url}" alt="">
                                                                    <div class="card-body" style="margin-bottom: 10px">
                                                                            <h5 class="fw-bolder">${word}</h5>
                                                                            <p class="headline-banner-row3">${desc}</p>
                                                                            <a href="#" class="btn btn-primary">${age_tag}</a>
                                                                    </div>

                                                    </div>
                                          </div>`

                        $('#cards_list').append(temp_html)
                    }
                }
            });
        }


    </script>



</head>
<!--네비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" onclick="location.href='home'"><img src="../static/img/main_button.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" onclick="location.href='home'">Home</a></li>
                <li class="nav-item"><a class="nav-link" onclick="location.href='list'">신조어 목록</a></li>
                <li class="nav-item"><a class="nav-link" onclick="location.href='shop'">어쩔상점</a></li></button>
            </ul>
            <div style="position: relative; top:-12px; right:10px;">
                <label for="exampleDataList" class="form-label"></label>
                <input class="form-control" list="datalistOptions" id="exampleDataList"
                       placeholder="Search" style="width: 200px;">
                <datalist id="datalistOptions">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles">
                    <option value="Chicago">
                </datalist>
            </div>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit" onclick="location.href='register'">
                    <i class="bi-cart-fill me-1"></i>
                    이건 몰랐지?! 신조어 등록하기
                </button>
            </form>
        </div>
    </div>
</nav>
<header class="bg-home py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-start text-white">
            <h4 class="display-6 fw-bolder">‍오늘도 MZ말을 못 알아들었다😂<br>최신 신조어 백과사전, 어쩔사전!</h4>
            <h6 style="line-height: 1.5em">신조어(新造語, Neologism)란? <br> 새로 만들어진 단어 및 용어 가운데 표준어로 등재되지 않은 말</h6></p>
        </div>

        <div class="d-flex justify-content-center h-100">
            <div class="searchbar shadow bg-body-tertiary rounded">
                <input class="search_input" type="text" name="" placeholder="찾고 싶은 신조어를 검색해 보세요!">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>

    </div>
</header>
<body>

<div class="container px-4 mb-5">
    <div class="button_container" style="padding-top: 4rem">
        <button type="button" class="btn btn-primary" style="height: 38px;">가나다순</button>
        <button id="age_tags20" type="button" class="btn btn-outline-primary"> 20대</button>
        <button id="age_tags30" type="button" class="btn btn-outline-primary"> 30대</button>
        <button id="age_tags40" type="button" class="btn btn-outline-primary"> 40대</button>
        <button id="age_tags50" type="button" class="btn btn-outline-primary"> 50대</button>
        <button id="age_tags60" type="button" class="btn btn-outline-primary"> 60대</button>

    </div>
    <div id="cards_list" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4  justify-content-center">
    <!--
    <div class=card-container>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%;" onclick="location.href='detail'">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%;" onclick="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <div class=card-container>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <div class=card-container>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <div class=card-container>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <div class=card-container>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
        <div class="card mb-3" style="max-width: 50%; max-height: 25%; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../static/img/profile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">잼민이<img src="../static/img/chain_icon.png" alt=""></h1>

                    <h6 class="card-text">2019년 하반기쯤 트위치에서 만들어진 신조어로, 좁게는 여러 곳에서 민폐를 끼치는 무개념 저연령층을 지칭하고, 넓게는 모든 저연령층을
                            통틀어 지칭할 때 사용되는 용어다. 반대말로는 꼰대, 틀딱이 있다.</h6>
                    <div class="in-card-button">
                    <button type="button" class="btn btn-primary">10대</button>
                    <button type="button" class="btn btn-primary">10대</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    -->

    <br>
</div>

</div>
</body>

</html>
