<!doctype html>
<body lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        window.onload = function() {
        alert("2월 10일 어쩔상점 오픈! 존버는 승리한다!");
        };
    </script>
    <title>어쩔사전</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
                  .btn-primary {
            width: 250px;
            margin-right: 120px;
        }
          .shop-main {
              position: relative;
              top: 90px;
          }
    </style>
</head>

</body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" onclick="location.href='home'"><img src="../static/img/main_button.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" onclick="location.href='home'">Home</a></li>
                <li class="nav-item"><a class="nav-link" onclick="location.href='list'">신조어 목록</a></li>
                <li class="nav-item"><a class="nav-link" onclick="location.href='shop'">어쩔상점</a></li></button>
            </ul>
            <div style="position: relative; top:-12px; right:10px;">
                <label for="exampleDataList" class="form-label"></label>
                <input class="form-control" list="datalistOptions" id="exampleDataList"
                       placeholder="Search" style="width: 200px;">
            </div>
            <div class="button">
                <form class="d-flex">
                    <button type="button" class="btn btn-outline-dark" onclick="location.href='register'">
                        <i class="bi-cart-fill me-1"></i>
                        <b>이건 몰랐지?!신조어 등록하기</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class = "shop-main">
<div style="text-align: center">
<a onclick="location.href='home'"><img src="../static/img/잼민이_tshirt.png"></a>
    <p style ="font-size:230%;"><b>여러분만의 신조어 티셔츠를 만들어보세요!</b></p>
</div>
</div>
</body>

</html>