<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>어쩔사전</title>
    <!-- Favicon-->
    <link rel="icon" href="../static/img/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

   <script>
            function created_at() {
               let today = new Date();
               let year = today.toLocaleString('en-US', {
                   year: 'numeric',
               });
               let month = today.toLocaleString('en-US', {
                   month: '2-digit',
               });
               let day = today.toLocaleString('en-US', {
                   day: '2-digit',
               });
               let hour = today.getHours();
               let minute = today.getMinutes();
               let second = today.getSeconds();

               return `${year}.${month}.${day} ${hour}:${minute}:${second}`
            }

            function posting() {
                var word = $('#word').val()
                var name = $('#name').val()
                var img_url = $('#img_url').val()
                var youtube_url = $('#youtube_url').val()
                var desc_url = $('#desc_url').val()
                var age_tag = []

                $('.agebtn').each(function () {
                    if ($(this).hasClass("active")) {
                        age_tag.push($(this).attr('id'));
                    }
                });


                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5000/word_register',
                    data: {
                        word_give: word,
                        name_give: name,
                        img_url_give: img_url,
                        youtube_url_give: youtube_url,
                        desc_url_give: desc_url,
                        created_at_give: created_at(),
                        age_tag_give: JSON.stringify(age_tag)
                    },
                    dataType:"json",

                    success: function (response) {
                        alert(response['msg'])
                        window.location.href='home';
                    }
                });
            }



    </script>


    <style>
        .NewWordCard {
            padding: 10% 5% 5% 5%;
        }


        .card-title {
            font-size: x-large;
            font-weight: bolder;

            padding: 10px 10px 0px 10px;
        }

        .chain_icon {
            width: 20px;

            float: right;
        }

        .card-text {
            padding: 0 0 0px 10px;
            line-height: 1.1em;
        }





    </style>
</head>
<!--네비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a type="button" onclick="location.href='home'"><img src="../static/img/main_button.png"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-lg-2">
                <li class="nav-item"><a class="nav-link active" type="button" onclick="location.href='home'">Home</a></li>
                <li class="nav-item"><a class="nav-link" type="button" onclick="location.href='list'">신조어 목록</a></li>
                <li class="nav-item"><a class="nav-link" type="button" onclick="location.href='shop'">어쩔상점</a></li>
                </button>
            </ul>
            <div class="navbar-nav ms-lg-auto" style="position: relative;">
             <!--<label for="exampleDataList" class="form-label"></label>
                <input class="form-control" list="datalistOptions" id="exampleDataList"
                       placeholder="Search" style="width: 200px; margin-right: 14px;">-->
      <!--          <div class="button">
                    <form class="d-flex">
                        <button type="button" class="btn btn-primary" onclick="location.href='word_register'">이건 몰랐지?! 신조어 등록하기</button>
                   </form>
                </div> -->

            </div>
        </div>
    </div>
</nav>


<body>


<!--신조어등록란-->

<div class="container px-4 px-lg-5">
    <div>
        <h2 style="margin-top: 50px;"><b>신조어 등록</b></h2><br>
    </div>

    <p></p>
    <div class="row g-3">
        <div class="col-sm-2">
            <label for="word">신조어명<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="word" class="form-control" aria-describedby="NewwordHelpInline"
                   check_result="fail" required/>
            <span id="NewwordHelpInline" style="display: none;" class="form-text">⚠️앗!이미 등록된 신조어가 있다네요!? </span>
        </div>
        <!--<div class="col-sm-2" style="padding-left: 0px;">
            <button type="button" class="btn btn-outline-primary mb-3" onclick="newword_overlap_check()">중복확인</button>
        </div>-->
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="name">닉네임<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="name" class="form-control" aria-describedby="nicknameHelpInline"
                   check_result="fail" required/>
            <span id="NewwordHelpInline" style="display: none;"
                  class="form-text">⚠️이미 등록된 닉네임인데,더 독창적인 닉네임을 생각해볼까요? </span>
        </div>
         <!--<div class="col-sm-2" style="padding-left: 0px;">
            <button type="button" class="btn btn-outline-primary mb-3" onclick="nickname_overlap_check()">중복확인</button>
        </div>-->
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="img_url">관련 이미지 URL</label>
        </div>
        <div class="col-sm-2">
            <input style="width:400px" id=img_url class="form-control" check_result="fail">
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="youtube_url">Youtube URL</label>
        </div>
        <div class="col-sm-2">
            <input style="background-color:white; color:black;width:500px;" type="url" id=youtube_url
                   class="form-control" check_result="fail" required/>
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="desc_url">설명<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input style="background-color:white; color:black;padding:20px;width:800px;height:400px;" id="desc_url"
                   type="text" class="form-control" check_result="fail" required/>
        </div>
    </div>
    <p></p>


    <br><br>
    <div class="row g-3">
        <div class="col-sm-2">
            <label for="age_tag">신조어 사용 연령층<span style="color:red">*</span></label><br>
        </div>
        <div class="col-sm-10" id="age_tag" style="margin-top: 10px;">
            <button id=10대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">10대</button>
            <button id=20대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">20대</button>
            <button id=30대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">30대</button>
            <button id=40대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">40대</button>
            <button id=50대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">50대</button>
            <button id=60대 type="button" class="btn btn-outline-primary agebtn" data-bs-toggle="button" autocomplete="off">60대~</button>
        </div>
    </div>
    <br><br>
    <p></p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button id="word_register_button" class="btn btn-primary btn-lg" type="button" onclick="posting()">🤩 등록하기</button>
    </div>

</div>


</body>


</html>