<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    <script>

            function posting() {
                var word = $('#word').val()
                var name = $('#name').val()
                var img_url = $('#img_url').val()
                var youtube_url = $('#youtube_url').val()
                var desc_url = $('#desc_url').val()
                var age_tag = []

                $('.agebtn').each(function () {
                    if ($(this).hasClass("active")) {
                        age_tag.push($(this).attr("id"));
                    }
                });


                $.ajax({
                    type: 'POST',
                    url: '/word_register',
                    data: {
                        word_give: word,
                        name_give: name,
                        img_url_give: img_url,
                        youtube_url_give: youtube_url,
                        desc_url_give: desc_url,
                        age_tag_give: age_tag
                    },

                    success: function (response) {
                        alert(response['msg'])
                        window.location.reload()
                    }
                });
            }



    </script>

    <title>어쩔사전</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .NewWordCard {
            padding: 10% 5% 5% 5%;
        }


        .card-title {
            font-size: x-large;
            font-weight: bolder;

            padding: 10px 10px 0px 10px;
        }

        .chain_icon {
            width: 20px;

            float: right;
        }

        .card-text {
            padding: 0 0 0px 10px;
            line-height: 1.1em;
        }

        .btn-primary {
            padding: 2px 10px 2px 10px;
            margin: 0px 0px 0px 5px;
        }

        .container {
            width: 1000px;
            height: 1000px;
            margin-top: 50px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }


    </style>
</head>

<body>
<!--네비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><img src="../static/img/main_button.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">List</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <div style="position: relative; top:-12px; right:10px;">
                <label for="exampleDataList" class="form-label"></label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Search"
                       style="width: 200px;">
                <datalist id="datalistOptions">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles">
                    <option value="Chicago">
                </datalist>
            </div>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    이건 몰랐지?! 신조어 등록하기
                </button>
            </form>
        </div>
    </div>
</nav>

<!--신조어등록란-->
<div class="container">
    <h1><b>신조어 등록</b></h1><br>

    <p></p>
    <div class="row g-3">
        <div class="col-sm-2">
            <label for="word">신조어명<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="word" class="form-control" aria-describedby="NewwordHelpInline"
                   check_result="fail" required/>
            <span id="NewwordHelpInline" style="display: none;" class="form-text">⚠️앗!이미 등록된 신조어가 있다네요!? </span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary mb-3" onclick="newword_overlap_check()">중복확인</button>
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="name">닉네임<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="name" class="form-control" aria-describedby="nicknameHelpInline"
                   check_result="fail" required/>
            <span id="NewwordHelpInline" style="display: none;"
                  class="form-text">⚠️이미 등록된 닉네임인데,더 독창적인 닉네임을 생각해볼까요? </span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary mb-3" onclick="nickname_overlap_check()">중복확인</button>
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="img_url">관련 이미지 URL</label>
        </div>
        <div class="col-sm-2">
            <input style="width:400px" id=img_url type="image" class="form-control" name="ImageURL" check_result="fail"
                   required/>
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="youtube_url">Youtube URL</label>
        </div>
        <div class="col-sm-2">
            <input style="background-color:white; color:black;width:500px;" type="url" id=youtube_url
                   class="form-control" check_result="fail" required/>
        </div>
    </div>
    <p></p>


    <div class="row g-3">
        <div class="col-sm-2">
            <label for="desc_url">설명<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-2">
            <input style="background-color:white; color:black;padding:20px;width:800px;height:400px;" id="desc_url"
                   type="text" class="form-control" check_result="fail" required/>
        </div>
    </div>
    <p></p>


    <br><br>
    <div class="row g-3">
        <div class="col-sm-2">
            <label for="age_tag">신조어 사용 연령층<span style="color:red">*</span></label><br>
        </div>
        <div class="col-sm-10" id="age_tag">
            <button id=10 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">10대</button>
            <button id=20 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">20대</button>
            <button id=30 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">30대</button>
            <button id=40 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">40대</button>
            <button id=50 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">50대</button>
            <button id=60 type="button" class="btn btn-primary agebtn" data-bs-toggle="button" autocomplete="off">60대~</button>
        </div>
    </div>
    <br><br>
    <p></p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button id="word_register_button" class="btn btn-primary" type="button" onclick="posting()">🤩 등록하기</button>
    </div>

</div>


</body>


</html>